<section class="user-data">
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Distance:</dt>
    <dd></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Status:</dt>
    <dd></dd>
  </dl>
</section>

<section class="user-data">
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Distance:</dt>
    <dd></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Status:</dt>
    <dd></dd>
  </dl>
</section>

<%= @api %>
a
<%= @api_zombie %>
